.App{
  text-align: center;
  font-size: 33px;
  /* background-color: #FF0000; */
  margin-top: 20%;
  margin-bottom: 25%;
}

.App-title{
  font-size:70px;
  color:#00FF2A;
}

.Clock-days {
  font-size: 30px;
}

.Clock-hours{
  text-align: center;
  font-size: 25px;
}

.Clock-minutes {
  text-align: center;
  font-size: 21px;
}

.Clock-seconds {
  text-align: center;
  font-size: 17px;
  margin-bottom: 10px
}

.Deadline-input {
  font-size: 15px;
  margin: 5px;
}