.App{
  text-align: center;
  font-size: 99px;
  background-color: #FF0000;
}

.App-title{
  font-size:70px;
  color:#00FF2A;
}

.Clock-days {
  font-size: 30px;
}

.Clock-hours{
  text-align: center;
  font-size: 25px;
}

.Clock-minutes {
  text-align: center;
  font-size: 21px;
}

.Clock-seconds {
  text-align: center;
  font-size: 17px;
}

.button {
  margin-bottom: 335px;
}